* {
    font-family: "DM Sans", sans-serif;
    color: #FBFBFB;
    margin: 0;
}

body {
    background-color: #1C2430;
}

#title {
    margin-bottom: 6px;
}

#title span {
    color: #45DA7C;
    display: block;
}

#header {
    margin: 80px 0px 60px 80px;
}


#generate-btn {
    background-color: #45DA7C;
    padding: 9px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    margin-left: 80px;
}

.password-container {
    display: flex;
    border-top: 1px solid #232F40;
    width: 500px;
    margin: 40px 0px 0px 80px;
    gap: 20px;
}

.password-wrapper {
    width: 500px;
    height: 40px;
    background-color: #232F40;
    margin-top: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.password-btn{
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: transparent;
    border: none;
    color: #45DA7C;
}